
RFC_CODE.v11.suo
packages/
RFC_CODE.sln
DATAACCESSLAYER/bin/
DATAACCESSLAYER/obj/
HostelBusinessLogicLayer/bin/
HostelBusinessLogicLayer/obj/
NonAcadBusinessLogicLayer/bin/
NonAcadBusinessLogicLayer/obj/
BusinessLogicLayer/bin/
BusinessLogicLayer/obj/
PresentationLayer/Bin/
PresentationLayer/web.config
PresentationLayer/vwd.webinfo

BusinessLogicLayer/obj/Debug/BusinessLogicLayer.csprojResolveAssemblyReference.cache
BusinessLogicLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DATAACCESSLAYER/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HostelBusinessLogicLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NonAcadBusinessLogicLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
